.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    left: 0;
}

.footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    letter-spacing: 0.05em;
    color: white;

}

.footer-list-right {
    letter-spacing: 0.05em;
    color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
